[submodule "deps/wasmtime"]
	path = deps/wasmtime
	url = https://github.com/bytecodealliance/wasmtime.git
	branch = main
[submodule "integrations/zed-vibe/grammars/vibe"]
	path = integrations/zed-vibe/grammars/vibe
	url = https://github.com/mizchi/vibe-lang
	branch = main
